#b {
    font-weight: bold;
}
.banner-top {
    position: relative;
    height: 572px;
    background: #f4f4f4;
    background: -webkit-linear-gradient(bottom,#f4f4f4,#fff);
    background: linear-gradient(to top,#f4f4f4,#fff);
    overflow: hidden;
}

/* ตัวกำหนดรูปตู้ */
.co-picture {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 50%;
    bottom: 0;
    margin-left: -500px;
}

/* รูปตู้ความชื้น */
.picture {
    position: absolute;
    width: 670px;
    /* height: 625px; */
    left: 50%;
    margin-left: -1000px;
    bottom: -10px;
}

/* เคลื่อนไหว */
.iconfront1 {
    position: absolute;
    width: 161px;
    height: 163px;
    top: 360px;
    left: 390px;
    background-color: red;
    z-index: 5;
    -webkit-animation: gLetter 2s ease-in-out 0s infinite alternate;
    animation: gLetter 2s ease-in-out 0s infinite alternate;
}

/* แทบต่อรูป */
.bg-mid-low {
    background: linear-gradient(to left,#3744ff,#4fcbfc);
    vertical-align: middle;
    font-size: 30px;
    color:rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;   
}

/* ส่วนกำหนดหัวข้อใหญ่ */
.content {
    position: absolute;
    width: 100%;
    height: 572px;
    top: 0;
    padding-left: 575px;
    padding-right: 5%;
}
.content-cotext{
    line-height: 34pt;
}
.content-text{
    font-size: 64px; 
    color:rgb(0, 162, 255);
    word-wrap: break-word;
}

.space {
    padding-top:20px;
}




