@import url('https://fonts.googleapis.com/css?family=Prompt:400');

#content {
  min-height:  calc(100vh - 92px);
}

/* ระยะห่างหน้าแบน */
#space {
  padding-bottom: 50px;
}

#spacetop {
  padding-top: 10px;
}

html,body {
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  /* text-shadow: 2px 2px 2px rgb(200, 255, 0); */
  color : LightSlateGray
}

.layoutbutre{
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 10px;
}

.fonthead {
  color: #778899;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
}

.buthead{
  color: #FFFFFF;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}

.regis-btn {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 35px;
  background-color: #15ff48;
  border-radius: 25px;
}

.logout-btn {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 35px;
  background-color: #801111;
  border-radius: 25px;
}

/* ปกรูปหน้าเพจต่าง ๆ */
.banner-h {
  background: url(./img/cover-h.jpg) repeat;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
}
/* กำหนดรูปแบบอักษรหน้าแบนเนอร์ */
.text-cobg {
  text-align: center;
  font-size: 84px;
  padding-top: 75px;
}
