@import url('https://fonts.googleapis.com/css?family=Prompt:400');

#content {
  /* padding-top: 70px; */
  min-height:  calc(100vh - 92px);
}

html,body {
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  /* text-shadow: 2px 2px 2px rgb(200, 255, 0); */
  color : LightSlateGray
}

.fonthead {
  color: #778899;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.buthead{
  color: #FFFFFF;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  
}

.buttomregis{
  /* width: 100px;
  height: 30px; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

/* .headerCus a:visited {color: #00FF00} */


Menu.Item {
  color: #000080;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}
