@import url('https://fonts.googleapis.com/css?family=Prompt:400');

#content {
  /* padding-top: 70px; */
  min-height:  calc(100vh - 92px);
}

html,body {
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  /* text-shadow: 2px 2px 2px rgb(200, 255, 0); */
  color : LightSlateGray
}

.layoutbutre{
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 10px;
}

.fonthead {
  color: #778899;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.buthead{
  color: #FFFFFF;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  
}

.regis-btn {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 35px;
  background-color: #1582ff;
  border-radius: 25px;
}

.logout-btn {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 35px;
  background-color: #801111;
  border-radius: 25px;
}